<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="out.css">
   
</head>
<body>
        <%- include('../includes/outnavbar.ejs') %>
   <div id="forms">

        
        <div id="login-form">
            <h1>Admin Login</h1>
                <form   action="/admin/login" method="POST">   
                    <input type="email" name='email'  value="<%= oldInput.email %>" placeholder="Email">
                    <br>
                    <input type="password" name='password' placeholder="Password">
                    <br>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn">Login</button>
                </form>
        </div>
        
        <div id="login-form">
            <h1>Costumer Login</h1>
            <% if (errorMessage) { %>
                <div class="user-message user-message--error"><%= errorMessage %></div>
            <% } %>
                <form  action="/login" method="POST" >   
                    <input type="email" name="email"  value="<%= oldInput.email %>" placeholder="Email">
                    <br>
                    <input type="password" name="password"   placeholder="Password">
                    <br>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit"   class="btn">Login</button>
                </form>
        </div>
        


</div>
</body>
</html>